Code flow unformatted.txt
[{"id":"6d08ca50.50a294","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"88c6e055.1ca3b","type":"ibmiot in","z":"6d08ca50.50a294","authentication":"apiKey","apiKey":"5d129eb6.eb40c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":60,"wires":[["56fd6f7.c59639","ac427685.082fc8","40da33d4.aeb3fc","66273888.faa1b8"]]},{"id":"52632144.02786","type":"ui_gauge","z":"6d08ca50.50a294","name":"","group":"28c499f3.0eb9a6","order":3,"width":6,"height":4,"gtype":"gage","title":"temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":20,"wires":[]},{"id":"957d84a0.1ad408","type":"ui_gauge","z":"6d08ca50.50a294","name":"","group":"28c499f3.0eb9a6","order":1,"width":6,"height":4,"gtype":"gage","title":"humidity","label":"grams per cubic meter","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":80,"wires":[]},{"id":"eb77ee58.e6d86","type":"ui_gauge","z":"6d08ca50.50a294","name":"","group":"28c499f3.0eb9a6","order":2,"width":6,"height":4,"gtype":"gage","title":"obj.temp","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":120,"wires":[]},{"id":"56fd6f7.c59639","type":"function","z":"6d08ca50.50a294","name":"temp","func":"\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":20,"wires":[["52632144.02786"]]},{"id":"ac427685.082fc8","type":"function","z":"6d08ca50.50a294","name":"humid","func":"\nmsg.payload=msg.payload.d.humidity\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["957d84a0.1ad408"]]},{"id":"40da33d4.aeb3fc","type":"function","z":"6d08ca50.50a294","name":"obj","func":"\nmsg.payload=msg.payload.d.objectTemp\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["eb77ee58.e6d86"]]},{"id":"27578998.781da6","type":"ibmiot out","z":"6d08ca50.50a294","authentication":"apiKey","apiKey":"d99bd158.c23e2","outputType":"cmd","deviceId":"123456","deviceType":"motordriver","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":800,"y":500,"wires":[]},{"id":"9737e7e1.dda4e8","type":"ui_button","z":"6d08ca50.50a294","name":"","group":"28c499f3.0eb9a6","order":15,"width":6,"height":2,"passthru":false,"label":"motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":140,"y":600,"wires":[["27578998.781da6","e33a86a6.d226f8","3d0a0b03.db53e4"]]},{"id":"e33a86a6.d226f8","type":"debug","z":"6d08ca50.50a294","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":600,"wires":[]},{"id":"c12dcb6a.7ff258","type":"ui_button","z":"6d08ca50.50a294","name":"","group":"28c499f3.0eb9a6","order":11,"width":5,"height":2,"passthru":false,"label":"motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":140,"y":500,"wires":[["27578998.781da6","e33a86a6.d226f8","3d0a0b03.db53e4"]]},{"id":"66273888.faa1b8","type":"http request","z":"6d08ca50.50a294","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Delhi, IN&appid=e558965431f4c6f460a066f678ff5e39","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":340,"wires":[["f9baacbd.665ed","588dd78e.c78ab8","43e69e60.78fe3","ab212db3.e311f"]]},{"id":"f9baacbd.665ed","type":"function","z":"6d08ca50.50a294","name":"temp","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["9c66fe7b.07448"]]},{"id":"588dd78e.c78ab8","type":"function","z":"6d08ca50.50a294","name":"pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":340,"wires":[["f05e2469.7a8168"]]},{"id":"9c66fe7b.07448","type":"ui_text","z":"6d08ca50.50a294","group":"28c499f3.0eb9a6","order":7,"width":18,"height":1,"name":"","label":"temperature","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":260,"wires":[]},{"id":"f05e2469.7a8168","type":"ui_text","z":"6d08ca50.50a294","group":"28c499f3.0eb9a6","order":9,"width":18,"height":1,"name":"","label":" atmospheric pressure","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":340,"wires":[]},{"id":"43e69e60.78fe3","type":"function","z":"6d08ca50.50a294","name":"humidity","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["31009306.3fe15c"]]},{"id":"31009306.3fe15c","type":"ui_text","z":"6d08ca50.50a294","group":"28c499f3.0eb9a6","order":8,"width":18,"height":1,"name":"","label":"humidity","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":420,"wires":[]},{"id":"ab212db3.e311f","type":"ui_text","z":"6d08ca50.50a294","group":"28c499f3.0eb9a6","order":5,"width":8,"height":1,"name":"","label":"weather conditions","format":"","layout":"row-spread","x":430,"y":200,"wires":[]},{"id":"9aabc5db.6184a8","type":"ui_text","z":"6d08ca50.50a294","group":"28c499f3.0eb9a6","order":13,"width":5,"height":2,"name":"","label":"motor status:","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":660,"wires":[]},{"id":"3d0a0b03.db53e4","type":"function","z":"6d08ca50.50a294","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":660,"wires":[["9aabc5db.6184a8","e33a86a6.d226f8"]]},{"id":"5d129eb6.eb40c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"nva028.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"28c499f3.0eb9a6","type":"ui_group","z":"","name":"stats","tab":"7b0fd515.26ba6c","order":1,"disp":true,"width":"18","collapse":false},{"id":"d99bd158.c23e2","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7b0fd515.26ba6c","type":"ui_tab","z":"","name":"farming","icon":"dashboard","disabled":false,"hidden":false}]